<!-- templates/partials/_header.html.twig -->
<header>
    <h2> Task Manager </h2>
    <nav>
        <ul>
            <li><a href="{{ path('app_home') }}">Accueil</a></li>
            <li><a href="{{ path('app_create_project') }}">Créer un projet</a></li>

            <!-- Autres liens de navigation -->
        </ul>
    </nav>
</header>

