<!-- templates/partials/_header.html.twig -->
<header>
    <h2> Task Manager </h2>
    <nav>
        <ul>
            <li><a href="{{ path('app_home') }}">Mes Projets</a></li>
            <li><a href="{{ path('app_create_project') }}">Créer un projet</a></li>
            <li><a href="{{ path('app_home') }}">Projets où j'apparait</a></li>
            <li><a href="{{ path('app_home') }}">Projets où j'ai des tâches / mes taches</a></li>



            <!-- Autres liens de navigation -->
        </ul>
    </nav>
</header>

