{% extends 'base.html.twig' %}

{% block title %}Détails du Projet{% endblock %}

{% block body %}
    <div class="example-wrapper">
        <h1>Détails du Projet</h1>
        <h2>{{ project[0].title }}</h2>
        <!-- Display other project details here -->
    </div>
{% endblock %}
